%paddingWebinar{
  padding-left: 30px;
  padding-right: 30px;
  @media all and (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media all and (max-width: 500px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.setting_webinar_banner{
  box-sizing: border-box;
  width: 770px;
  max-width: 100%;
  padding: 30px 0 40px 0;
  @media all and (max-width: 768px) {
    padding: 30px 0 30px 0;
    width: 510px;
  }
  @media all and (max-width: 500px) {
    padding: 30px 0 20px 0;
    width: 100%;
  }
  .admin_header_setting_window_banner_list{
    @extend %paddingWebinar;
    max-height: 400px;
    @media all and (max-width: 500px) {
      max-height: 300px;
    }
  }

  .btn_add_banner{
    @extend %paddingWebinar;
    .btn_ui_border{
      height: 40px;
      width: 40px;
      min-width: 0;
      & > span{
        height: 36px;
        width: 36px;
      }
    }
  }
  .setting_menu_common_buttons_webinar{
    @extend %paddingWebinar;
  }
}

%padding{
  padding: 0 40px;
  @media all and (max-width: 768px) {
    padding: 0 30px;
  }
  @media all and (max-width: 500px) {
    padding: 0 15px;
  }
}
%scroll{
  &::-webkit-scrollbar{
    max-width: 8px;
    width: auto;
    background: transparent;
  }
  &::-webkit-scrollbar-button{
    width: 0;
    height: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg, #E4E9F2 0%, #EDF1F7 100%);
    border-radius: 4px;
    width: 8px;
    height: 60px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(0deg, rgb(175, 200, 247) 0%, rgb(130, 177, 247) 100%);
  }
}
.setting_banner_padding{
  padding: 40px 0 40px 0;
  @media all and (max-width: 768px) {
    padding: 30px 0 20px 0;
  }
  @media all and (max-width: 500px) {
    padding: 30px 0 20px 0;
  }
  .setting_menu_common_buttons{
    padding-left: 40px;
    padding-right: 40px;
    @media all and (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media all and (max-width: 500px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .btn_ui_border{
      margin-left: 0;
    }
  }
  .btn_add_banner{
    @extend %padding;
  }
  .admin_header_setting_window_banner_list{
    @extend %padding;
  }
}
.fon_list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 40px;
  @media all and (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.fon_list_single{
  cursor: pointer;
  height: 60px;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    .select_fon{
      opacity: 1;
    }
  }
}

.setting_room_banner_popup_choice_background{
  width: 700px;
  @media all and (max-width: 768px) {
    width: 500px;
  }
  @media all and (max-width: 500px) {
    width: 100%;
  }
}

.setting_room_banner_popup_delete_banner{
  .setting_room_banner_popup_delete_banner__subtitle{
    text-align: left;
    font-size: 18px;
    line-height: 150%;
    color: #222B45;
    padding-bottom: 20px;
    font-weight: bold;
    @media all and (max-width: 768px) {
      font-size: 16px;
    }
  }
}



.admin_header_setting_window_banner_list{
  width: 100%;
  max-height: 1000px;
  margin-right: 10px;
  @extend %scroll;
  box-sizing: border-box;
  overflow: scroll;
  @media all and (max-width: 768px) {
    max-height: 450px;
  }
  @media all and (max-width: 768px) {
    max-height: 450px;
    padding-left: 0;
    padding-right: 0;
  }
}

.setting_webinar_banner_single_banner{
  background: #FFFFFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: max-height 300ms;
  max-height: 47px;
  @media all and (max-width: 768px) {
    max-height: 44px;
    margin-bottom: 15px;
  }
  @media all and (max-width: 500px) {
    max-height: 70px;
  }
  .single_banner_small{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #222B45;
    position: relative;
    height: inherit;
    min-height: 47px;
    @media all and (max-width: 768px) {
      font-size: 16px;
      padding: 10px 30px;
      min-height: 44px;
    }
    @media all and (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px 40px 10px 15px;
    }
    .single_banner_small_title{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
      min-width: 30%;
      text-align: left;
    }
    .single_banner_small_price_or_url{
      margin-right: 120px;
      max-width: 50%;
      @media all and (max-width: 500px) {
        max-width: 100%;
        margin-right: 0;
      }
      & > div{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

    }
    .single_banner_small_icon{
      position: absolute;
      right: 40px;
      cursor: pointer;
      @media all and (max-width: 500px) {
        right: 15px;
      }
      path{
        fill: #222B45;
        transition: fill 300ms;
      }
      &:hover{
        path{
          fill: #3366FF;
        }
      }
    }
  }
  .single_banner_big{
    display: none;
  }
  .single_banner_big_header{
    display: none;
  }
}

.setting_webinar_banner_single_banner_big{
  max-height: 1000px;
  padding: 20px 40px;
  box-sizing: border-box;
  @media all and (max-width: 758px) {
    padding: 10px 30px;
  }
  @media all and (max-width: 500px) {
    padding: 10px 10px;
  }
  .single_banner_big_header{
    display: flex;
  }
}

.single_banner_big{
  //max-height: 417px;
  //@media all and (max-width: 758px) {
  //  max-height: 342px;
  //}
  //@media all and (max-width: 500px) {
  //  max-height: 332px;
  //}
  .single_banner_big_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .single_banner_big_header_controls{
      display: flex;
      align-items: center;
      .btn_ui{
        margin: 0;
        min-width: 0;
        width: 48px;
        padding: 0;
        @media all and (max-width: 768px) {
          width: 40px;
        }
      }
      & > * {
        margin-left: 15px;
      }
      svg{
        cursor: pointer;
      }
      .single_banner_big_header_controls_reduce{
        path {
          transition: fill 300ms;
          fill: #222B45;
        }
        &:hover{
          path {
            fill: #3366FF;
          }
        }
      }
    }
  }
  .single_banner_big_btn_choice_background{
    border: 1px dashed #C5CEE0;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #FFFFFF;
    transition: background-color 300ms, color 300ms;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #8F9BB3;
    max-width: 100%;
    width: 426px;
    overflow: hidden;
    justify-content: space-between;
    cursor: pointer;

    &:hover{
      background-color: #3366FF;
      color: #FFFFFF;
    }
    span{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    img{
      height: 100%;
      width: 107px;
      border-radius: 10px;
    }
    @media all and (max-width: 758px) {
      padding-left: 20px;
      height: 48px;
      width: 364px;
      font-size: 16px;
      img{
        width: 86px;
      }
    }
    @media all and (max-width: 500px) {
      width: 100%;
    }
  }
  .input_ui_main{
    margin-bottom: 30px;
    input{
      width: 546px;
    }
    @media all and (max-width: 768px) {
      margin-bottom: 20px;
      input{
        width: 390px;
      }
    }
    @media all and (max-width: 500px) {
      input{
        width: 100%;
      }
    }
    &:last-child{
      margin-bottom: 10px;
      @media all and (max-width: 768px) {
        margin-bottom: 0;
      }
    }
  }
}

.single_banner_big_product{
  .single_banner_big_attached_product{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media all and (max-width: 768px) {

    }
    @media all and (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .single_banner_big_btn_choice_product{
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      color: #222B45;
      cursor: pointer;
      transition: color 300ms;
      @media all and (max-width: 768px) {
        font-size: 16px;
      }
      &:hover{
        color: #3366FF;
        svg{
          path{
            fill: #3366FF;
          }
        }
      }
      svg{
        transform: rotate(45deg);
        margin-right: 5px;
        path{
          transition: fill 300ms;
          fill: #222B45;
        }
      }
    }
    .setting_banner_product{
      width: 100%;
      margin-right: 30px;
      margin-bottom: 10px;
      @media all and (max-width: 768px) {
        max-width: 410px;
        margin-right: 20px;
      }
      @media all and (max-width: 600px) {
        margin-right: 0;

      }
    }
  }
}

.btn_add_banner{

  display: flex;
  align-items: center;
  transition: color 300ms;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  &:hover{
    color: #3366FF;
    button{
      span{
        background-color: #3366FF;
        path{
          fill: #FFFFFF;
        }
      }
    }
  }
  button{
    margin: 0 10px 0 0;
    min-width: 48px;
    span{
      padding: 0;
      svg{
        path{
          fill: #222B45;
          transition: fill 300ms;
        }
      }
    }
  }
  @media all and (max-width: 768px) {
    font-size: 16px;
    button{
      min-width: 40px;
    }
  }
}

.setting_room_banner_popup_choice_product{
  width: 730px;
  max-width: 100%;
  padding: 30px 10px 30px 10px;

  .popup_ui_window_title{
    @extend %padding;
  }
  & > .popup_ui_window_buttons_list{
    @extend %padding;
  }
  @media all and (max-width: 768px) {
    width: 570px;
    padding: 20px 10px 20px 10px;
  }
  @media all and (max-width: 500px) {
    width: 100%;
  }
  &_list{
    padding: 30px;
    @extend %scroll;
    max-height: 300px;
    overflow-y: scroll;
    .setting_banner_product{
      cursor: pointer;
      &:hover{
        box-shadow: 4px 16px 32px rgba(0, 0, 0, 0.26);
      }
    }
    @media all and (max-width: 758px) {
      padding: 20px;
    }
    @media all and (max-width: 500px) {
      padding: 10px;
    }
  }
  &_toggle{
    @extend %padding;
  }
  %label{
    text-align: left;
    margin-bottom: 5px;
    font-style: normal;

    font-size: 18px;
    line-height: 150%;
    color: #222B45;
    @media all and (max-width: 768px) {
      font-size: 16px;
    }
  }
  &_subtitle{
    @extend %padding;
    @extend %label;
    font-weight: bold;
  }
  &_description{
    @extend %padding;
    @extend %label;
    font-weight: normal;
  }
  .setting_room_banner_popup_choice_product_form{
    @extend %padding;
    padding-top: 10px;
  }
}
.setting_banner_product{
  padding: 10px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #222B45;
  transition: box-shadow 300ms;
  background: #FFFFFF;
  box-shadow: 4px 16px 32px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  margin-bottom: 10px;
  &_cost{
    display: flex;
    max-width: 30%;
    & > span:nth-child(1){
      display: block;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  @media all and (max-width: 758px) {
    padding: 10px 30px;
    font-size: 14px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  }
  @media all and (max-width: 500px) {
    padding: 10px 15px;
    flex-direction: column;
    &_cost{
      text-align: left;
    }
  }
  &_name, &_cost{
    font-weight: bold;
  }
  .setting_banner_product_main_info{
    text-align: left;
    max-width: 70%;
    text-overflow: ellipsis;
    a{
      font-weight: bold;
      color: #3366FF;
    }
    & > *{
      margin-bottom: 5px;
    }
    @media all and (max-width: 758px) {
      max-width: 50%;
    }
  }
}
