.cashbox_content_padding{
    padding-top: 40px;
    padding-bottom: 50px;
    & > button{
        margin: 0;
    }
}
.cashbox_content_row{
    display: flex;
    flex-wrap: wrap;
}
.cashbox_content_label{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #222B45;
    text-align: left;
}
.cashbox_content_subtitle{
    margin-bottom: 10px;
}
.cashbox_content_radio_button_list{
    display: flex;
    & > div:nth-child(1){
        margin-right: 20px;
    }
}
.cashbox_content_radio_button_list_main{
    margin-bottom: 30px;
}
.cashbox_content_left{
    margin-bottom: 10px;
    padding-right: 85px;
}
.cashbox_content_right{
    margin-bottom: 10px;
    margin-right: 50px;
    width: calc(100% - 500px);
    min-width: 350px;
}
.cashbox_content_input_type{
    min-width: 350px;
    margin-bottom: 6px;
}
.cashbox_content_input_key{
    width: 100%;

    max-width: 550px;
    margin-bottom: 6px;
}
@media all and (max-width: 1366px) {
    .cashbox_content_input_type{
        min-width: 300px;
        max-width: 300px;
    }
    .cashbox_content_input_key{
        min-width: 300px;
    }
}
@media all and (max-width: 768px) {
    .cashbox_content_padding{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cashbox_content_radio_button_list_main{
        margin-bottom: 20px;
    }
    .cashbox_content_input_type{
        max-width: 100%;
        min-width: 330px;
    }
    .cashbox_content_left{
        padding-right: 0px;
    }
    .cashbox_content_right{
        margin-right: 0;
        width: 390px;
        min-width: 0;
    }
}
@media all and (max-width: 415px) {
    .cashbox_content_right{
        width: 100%;
    }
    .cashbox_content_left{
        width: 100%;
    }
    .cashbox_content_input_type{

        min-width: 100%;
    }
    .cashbox_content_input_key{
        min-width: 100%;
    }
}