.admin_room_header{
  height: 116px;
  background: #FFFFFF;
  margin-bottom: 30px;
  color: #222B45;
}
.admin_room_header_up{
  height: 44px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: #222B45;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.16);
}
.admin_room_header_navigation{
  height: 72px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-columns: 505px calc(100vw - 505px - 265px) 265px;

  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.admin_room_header_mobile{
  display: none;
  height: 44px;
  background: #FFFFFF;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.16);
  justify-content: space-between;
  align-items: center;

  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;

  text-align: center;

  color: #222B45;
}

.btn_back_to_rooms{
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 15px;
  transition: all 400ms;
  & > svg > path{
    transition: all 400ms;
  }
  &:hover{
    color: #3366FF;
    & > svg > path{
      fill: #3366FF;
    }
  }
}
.admin_header_out{
  display: flex;
  justify-content: flex-end;
}
.admin_room_header_icon_patch{
  transition: all 400ms;
}
.admin_header_out_button{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 30px;
  transition: all 300ms;
  &:hover{
    color: #3366FF;
    .room_header_icon{
      & > path{
        fill: #3366FF;
      }
    }
  }
}
.admin_room_btn{
  height: 32px;
  border-radius: 30px;
  width: fit-content;
  min-width: 0;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 0 14px;
  margin: 0;
}
.room_header_setting_icon{
  margin-right: 5px;
  path{
    fill: #FFFFFF;
  }
}
.admin_room_header_navigation_left_buttons{
  padding-left: 15px;
  display: flex;
  align-items: center;
  & > div:nth-child(1){
    margin-right: 20px;
  }
}
.admin_room_header_navigation_right_buttons{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.icon{
  cursor: pointer;
  & > path{
    transition: all 400ms;
  }
  &:hover{
    & > path{
      fill: #3366FF;
    }
  }
}
.admin_room_header_camera{
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  & > svg{
    & > path{
      transition: fill 400ms;
    }
    & > rect{
      transition: stroke 400ms;
    }
  }
  &:hover{
    & > svg{
      & > path{
        fill: #3366FF;
      }
      & > rect{
        stroke: #3366FF;
      }
    }
  }
  .admin_room_header_camera_menu{
    position: absolute;
    z-index: 3;
    left: -15px;
    top: 35px;
    background: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    .admin_room_header_camera_menu_btn:nth-child(1){
      padding-top: 15px;
    }
    .admin_room_header_camera_menu_btn:nth-last-child(1){
      padding-bottom: 15px;
    }
    %admin_room_header_camera_menu_button{
      display: flex;
      box-sizing: border-box;
      align-items: center;

      padding: 7.5px 15px 7.5px 15px;
      transition: background-color 400ms;
      text-align: left;
      & > svg{
        margin-right: 5px;
      }
      &:hover{
        background-color: #eeeeee;
      }
    }
    .admin_room_header_camera_menu_btn{
      @extend %admin_room_header_camera_menu_button;
      width: 380px;
    }
    .admin_room_header_camera_menu_btn_mobile{
      @extend %admin_room_header_camera_menu_button;
      width: 205px;
      font-size: 12px;
      line-height: 12px;
      & > svg{
        min-width: 28px;
      }
    }
  }
}
.btn_present_icon_path{
  transition: all 400ms;
}
.btn_present{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 22px;
  margin-right: 14px;
  transition: all 400ms;
  &:hover{
    color: #3366FF;
    .btn_present_icon_path{
      fill: #3366FF;
    }
  }
}
.btn_volume_path{
  transition: all 400ms;
}
.btn_volume{
  margin-left: 20px;
  margin-right: 18px;
}
.btn_refresh{
}
.btn_youtube{
  margin-left: 20px;
}

.btn_block_chat{
  margin-left: 20px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    height: 24px;
    width: 24px;
    path{
      fill: #FFFFFF;
    }
  }
}
.admin_menu_mobile{
  position: fixed;
  top: 0;
  z-index: 3;
  font-weight: 600;
}
.admin_header_popup{
  text-align: left;
  margin-bottom: 20px;
}
.menu_mobile_fon{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  display: none;
  z-index: 2;
}
.fon_z_index{
  height: 150%;
  z-index: 3;
}
.admin_menu_mobile_line{
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 31px;
  padding-right: 31px;
  justify-content: flex-start;
  position: relative;
  .btn_present{
    margin-left: 0;
  }
  .btn_back_to_rooms{
    padding-left: 0;
  }
  button{
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    height: 32px;
    svg:not(.btn_more_icon){
      margin-right: 5px;
    }
  }
  .btn_ui{
    padding: 0 15px;
  }
  .btn_yellow{
    svg{
      path{
        fill: #FFFFFF;
      }
    }
  }
  @media all and (max-width: 500px) {
    padding-right: 15px;
  }
}
.btn_more{
  width: 32px;
  padding: 0 !important;
  min-width: 0;
  svg{
    margin-right: 0;
    transform: rotate(90deg);
    path{
      fill: #FFFFFF;
    }
  }
}
.admin_out_room_mobile{
  cursor: pointer;
  display: flex;
  height: 50px;
  align-items: center;
  transition: all 400ms;
  & > button{color: #222B45;}
  svg{
    margin: 0;
    path{
      transition: fill 300ms;
    }
  }
  &:hover{
    .room_header_btn_out{
      color: #3366FF;
    }
    path{
      fill: #3366FF;
    }
  }
}





.setting_menu_label_info{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #0095FF;
  text-align: left;
}


.setting_menu_open_href{
  margin-top: 8px;
  margin-bottom: 10px;
}
.setting_menu_input__webinar_name{
  margin-bottom: 30px;
  width: 350px;
}
.setting_menu_input__open_href{
  width: 350px;
  margin-right: 20px;
}
.input_width_date{
  width: 210px;
  @media all and (max-width: 500px) {
    width: 200px;
  }

  font: normal 18px Open Sans;
  &::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    width: 0;
    display: none;
  }
  &::-webkit-inner-spin-button { display: none; }
}
.input_width_prod{
  @media all and (max-width: 500px) {
    width: 87px;
  }

  font: normal 16px Open Sans;

  &::-webkit-inner-spin-button { display: none; }
}


.setting_menu_stream_flex{
  display: flex;
}
.btn_webinar{
  border-radius: 30px;
  user-select: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

  padding: 0 30px;
  height: 60px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  box-sizing: border-box;
  color: #FFFFFF;
  background: linear-gradient(360deg, #00e09580 0%, #51F0B0 100%);
  background-color: #00E096;
  box-shadow: 0 12px 15px rgba(0, 224, 150, 0.2);
  outline: none;
  transition: all 400ms;
  &:hover{
    background-color: #00aa71;
  }
  &:active{
    background-color: #51F0B0;
  }
  &:disabled{
    background: linear-gradient(360deg, #00e09580 0%, rgba(81, 240, 176, 0.5) 100%);
  }
}
.btn_setting_stream_label_url{
  margin-top: 30px;
  margin-bottom: 10px;
}
.setting_menu_btn_start_position > button{
  margin-left: 0;
}
.setting_menu_btn_start_position{
  margin-top: 30px;
  margin-bottom: 40px;
}
.checkbox_box{
  display: flex;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222B45;
}
.setting_menu_checkbox_option{
  margin-top: 13px;
  margin-bottom: 23px;
}
.btn_checkbox{
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #C5CEE0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms;
  margin-right: 8px;
  &:hover{
    border: 2px solid #3366FF;
  }
}
.btn_checkbox_circle{
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: all 400ms;
  opacity: 0;
  background: linear-gradient(0deg, #3366FF 0%, #598BFF 100%);
}
.btn_checkbox_selected{
  border: 2px solid #3366FF;
}
.btn_checkbox_selected > div{
  opacity: 1;
}

.setting_menu_chat_flex{
  display: flex;
}
.setting_chat_label_block_ip{
  padding-top: 30px;
  margin-bottom: 10px;
}
.setting_chat_label_database{
  padding-top: 30px;
  margin-bottom: 20px;
}




.window_other_first_label_margin{
  padding-top: 32px;
  margin-bottom: 20px;
}

.window_other_label_info{
  width: 350px;
}
.label_after_webinar{
  margin-top: 20px;
  margin-bottom: 12px;
}
.window_other_checkbox_margin{
  margin-top: 10px;
  margin-bottom: 9px;
}
.setting_menu_input_redirect_url{
  width: 350px;
  margin: 0;
}
.label_img{
  margin-top: 20px;
  margin-bottom: 10px;
}
.label_title_text{
  margin-top: 20px;
  margin-bottom: 10px;
}
.setting_menu_input_title{
  width: 370px;
  margin: 0;
  margin-bottom: 10px;
}
.setting_menu_input_description{
  width: 526px;
  margin: 0;
}

.fon_choice_fon_banner{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.choice_fon_banner{
  background: #FFFFFF;
  box-shadow: 4px 16px 32px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: 50%;
  min-width: 700px;
  height: auto;
  z-index: 6;
  position: fixed;
  display: none;
  left: 30px;
  top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}
.choice_fon_title{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #222B45;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.select_fon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  opacity: 0;
  transition: all 400ms;
}
.select_fon_selected{
  opacity: 1;
}
.choice_buttons{
  margin-bottom: 0;
  margin-left: 0;
}
.choice_buttons > button{
  margin-right: 20px;
}

.btn_stream_option_two{
  display: none;
}


.header_clear_and_redirect{
  position: absolute;
  display: none;
  top: 100%;
  left: -42%;
  width: 267px;
  box-sizing: border-box;
  height: auto;
  background: #FFFFFF;
  box-shadow: 4px 16px 32px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 10px 30px;
  z-index: 4;
  flex-direction: column;
  & > button{
    margin: 10px 0;
  }
  &::after{
    content: '';
    border: 12px solid transparent;
    border-bottom: 20px solid #FFFFFF;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 100%;
    width: 0;
  }
}
.header_clear_and_redirect_mobile{
  margin-top: 10px;
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  box-sizing: border-box;
  width: 267px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 4px 16px 32px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 10px 30px;
  z-index: 3;
  flex-direction: column;
  & > button{
    margin: 10px 0;
  }
  &::after{
    content: '';
    border: 12px solid transparent;
    border-bottom: 20px solid #FFFFFF;
    position: absolute;
    left: 36px;
    bottom: 100%;
    width: 0;
  }
  @media all and (max-width: 500px) {
    left: 10px;
    width: 256px;
    padding: 10px 20px;
    &::after{
      left: 26px;
    }
  }
}

.button_webinar{
  cursor: pointer;
  outline: none;
  padding: 0 14px;
  height: 32px;
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  transition: all 400ms;
  & > svg:not(.btn_more_icon){
    margin-right: 5px;
    path{
      fill: #FFFFFF;
    }
  }
}
.button_webinar_green{
  &:hover{
    background-color: #00aa71;
  }
  &:active{
    background-color: #51F0B0;
  }
  &:disabled{
    background: linear-gradient(360deg, #00e09580 0%, #51f0b080 100%);
  }
  background: linear-gradient(360deg, #00e09580 0%, #51F0B0 100%);
  background-color: #00E096;
  box-shadow: 0 12px 15px rgba(0, 224, 150, 0.2);
}
.button_webinar_yellow{
  &:hover{
    background-color: #ffbb34;
  }
  &:active{
    background-color: #ffc859;
  }
  &:disabled{
    background: linear-gradient(360deg, #ffaa0080 0%, #ffca4d80 100%);
  }
  background: linear-gradient(360deg, #ffaa0080 0%, #FFC94D 100%);
  background-color: #FFAA00;
  box-shadow: 0 12px 15px rgba(255, 170, 0, 0.2);
}
.list_icons{

  & > svg{
    margin-left: 0;
    margin-right: 20px;
  }
  .admin_room_header_camera{
    margin-right: 20px;
  }
}
.popup_record{
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
  max-width: 450px;
  color: #222B45;
  span{
    display: block;
    margin-top: 10px;
    font-weight: normal;
  }
}
@media all and (max-width: 900px) {
  .choice_fon_banner{
    position: absolute;
    left: 0;
    top: 0;
  }
  .choice_fon_banner{
    width: 450px;
    min-width: 450px;
  }

  .setting_chat_label_database{
    padding-top: 0;
  }
  .setting_flex_options{
    flex-direction: column;
  }






  .admin_room_header_mobile{
    display: flex;
    & > div:nth-child(1){
      margin-left: 39px;
    }
  }
  .admin_room_header{
    display: none;
  }
}
@media all and (max-width: 500px) {
  .choice_fon_banner{
    position: absolute;
    left: 0;
    top: 0;
  }
  .choice_fon_banner{
    width: calc(100% - 60px);
    min-width: calc(100% - 60px);
  }


  .window_banner_background_buttons{
    flex-direction: row;
    justify-content: space-between;
  }




  .setting_menu_input_title{
    width: calc(100% - 20px);
  }
  .setting_menu_input_description{
    width: calc(100% - 20px);
  }





  .setting_menu_input__open_href{
    width: auto;
    max-width: 90vw;
    min-width: 80vw;
    margin-right: 0;
  }


}
@media all and (max-width: 415px) {
}
