.header_main{
  height: 44px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;  
  color: #222B45;
}
.pointer{
  cursor: pointer;
}
.header_main_area{
  width: calc(100% / 12 * 7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 400ms;
  position: relative;
  @media all and (max-width: 1366px) {
    width: calc(100% / 12 * 9);
  }
  @media all and (max-width: 768px) {
    width: calc(100% / 12 * 11);
  }
}
.header_main_logo{
  cursor: pointer;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}
.header_name{
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #3366FF 0%, #598BFF 100%);
  /* Shadow button 1 */
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0px 12px 15px rgba(51, 102, 255, 0.2);
}
.header_btn_out{
  outline: none;
  user-select: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0;
  font-family: Open Sans, sans-serif;
  font-weight: 600; 
  transition: all 400ms;
  &:hover{
    color: #3366FF;
    .header_btn_out_icon_path{
      fill: #3366FF;
    }
  }
}
.header_main_right_menu{
  outline: none;
  position: fixed;
  right: -800px;
  transition: all 400ms;
  top: 0;
  height: 100vh;
  background: #FFFFFF;
  box-shadow: 8px 20px 64px rgba(0, 0, 0, 0.16);
  width: 270px;
  z-index: 4;
}
.selected{
  right: 0;
}
.header_main_area_nav_menu{
  display: flex;
}
.header_main_area_nav_menu_icon{
  & > path{
    transition: all 400ms;
  }
  &:hover{
    & > path{
      fill: #3366FF;
    }
  }
}
.header_btn_out_icon{
  margin-left: 5px;
  transition: all 400ms;
}
.header_btn_out_icon_path{
  transition: all 400ms;
}
.header_main_area_nav_menu_option{
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: all 400ms;
  &:hover{
    color: #3366FF;
    & > svg > path{
      fill: #3366FF;
    }
  }
  & > svg{
    margin-right: 10px;
  }
  &:nth-child(1){
    margin-right: 40px;
  }
}
.header_main_area_nav_menu_balance{
  font-weight: 600;
  margin-left: 60px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.header_main_area_nav_menu_balance_right_menu{
  margin-left: 0;
  margin-bottom: 10px;
}
.header_main_popup_balance{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 10px 20px 13px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  position: absolute;
  background: linear-gradient(0deg, #FF3D71 0%, #FF708D 100%);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  border-top-right-radius: 0;
  right: 0;
  top: 38px;
}
.header_main_right_menu_content{
  padding-left: 30px;
  & > button{
    margin: 0;
  }
}
.header_main_right_menu_content_header{
  display: flex;
  margin-bottom: 30px;
  margin-top: 6px;
  align-items: center;
  justify-content: space-between;
  width: 233px;
  & > div:nth-child(1){
    font-weight: bold;
    margin-left: 85px;
  }
}
.header_main_right_menu_content_link_list{
  display: none;
  & > a{
    margin-bottom: 30px;
  }
  & > div{
    margin-bottom: 30px;
  }
}
.header_main_right_menu_link{
  margin-top: 30px;
  margin-bottom: 30px;
}
.header_main_right_menu_line{
  width: 249px;
  height: 1px;
  position: relative;
  left: -30px;
  background: radial-gradient(50% 50% at 50% 50%, #3366FF 0%, #3366FF 87.5%, rgba(51, 102, 255, 0) 100%);
}
.header_main_area_nav_menu_option_selected{
  color: #3366FF !important;
  & > svg > path{
    fill: #3366FF;
  }
}
@media all and (max-width: 900px) {
  .header_main_area_nav_menu_option{
    &:nth-child(1){
      margin-right: 15px;
    }
  }
  .header_main_area_nav_menu_balance{
    margin-left: 20px;
  }
  .header_main_area_nav_menu_balance_right_menu{
    margin-left: 0;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 768px) {
  .header_main_area_nav_menu{
    & > .header_main_area_nav_menu_option{
          display: none;
    }
  }
  .header_main_right_menu{
    width: 249px;
  }
  .header_main_right_menu_content_header{
    width: auto;
    padding-right: 30px;
    & > div:nth-child(1){
      margin-left: 0;
    }
  }
  .header_main_right_menu_content_link_list{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & > .header_main_area_nav_menu_option{
      display: flex;
    }
  }
  .header_main_popup_balance{
    right: 0;
  }
}
@media all and (max-width: 415px) {
  .header_main_popup_balance{
    text-align: left;
    max-width: 90%;
    left: 0;
  }
}