.chat_header{
}

.moderator_popup{
  padding-bottom: 30px;
  @media all and (max-width: 768px) {
    padding-bottom: 20px;
  }
}

.chat_header_bottom_line{
    height: 1px;
    background: radial-gradient(50% 50% at 50% 50%, #3366FF 0%, #3366FF 87.5%, rgba(51, 102, 255, 0) 100%);
}
.btn_chat_help{
    width: 93px;
    margin-right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.chat_input{
    height: 40px;
    min-width: 0;
    width: 100%;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 8%;
    margin-top: 0;
    margin-bottom: 0;
}


.chat_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #222B45;
    display: flex;
  align-items: center;
}
.admin_chat_message_text{
    cursor: pointer;
    background: #F7F9FC;
    border-radius: 8px;
    border-top-left-radius: 0;
    margin-top: 5px;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    text-align: left;
}
.admin_message_admin {
    background: #FFF1C2;
}
.admin_chat_message{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #222B45;
    padding-bottom: 10px;
    padding-right: 30px;

}
.checkbox_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox_message{
    opacity: 0;
}
.chat_moderation{
  position: absolute;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 30px;
  padding-bottom: 30px;
  width: 585px;
  height: auto;
  top: 15px;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  z-index: 1;
}
.chat_moderation_checkbox_flex{
  display: flex;
  align-items: center;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222B45;
}
.chat_moderation_header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.chat_moderation_header_title{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #222B45;
}
.chat_moderation_buttons{
  display: flex;
  align-items: center;
  margin-top: 21px;
  //width: 70%;
}
.chat_moderation_buttons_label{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222B45;
  margin-right: 30px;
}

.fon_main{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #000000;
  opacity: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_chat_help_admin{
  margin-top: 0;
}
.chat_header_amount_of_people_admin{
  margin-top: 0;
  width: fit-content;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222B45;
}
.button_secondary_moderate{
  margin-left: 20px;
}
.chat_input_icon_admin{
  display: grid;
  grid-template-columns: auto 38px 38px 50px;
  max-width: 100%;
  height: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
.btn_chat_input_baner{
  border: 1px solid #C5CEE0;
  border-left: none;
  border-right: none;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin_chat_message_flex_icon{
  cursor: pointer;
  display: flex;
  &:hover{
    .admin_chat_message_recipient_name{
      display: block;
    }
  }
}
.admin_chat_message_recipient_name{
  display: none;
}
.chat_input_banners{
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  overflow: scroll;
  width: 270px;
  height: 500px;
  display: flex;
  flex-direction: column;
  //z-index: 5;
  padding-top: 20px;
  padding-right: 10px;
  right: 150px;
}
.chat_input_banners::-webkit-scrollbar{
  width: 8px;
  background: transparent;
}
.chat_input_banners::-webkit-scrollbar-button{
  width: 0;
  height: 0;
  background-color: transparent;
}
.chat_input_banners::-webkit-scrollbar-thumb{
  background: linear-gradient(0deg, #E4E9F2 0%, #EDF1F7 100%);
  border-radius: 4px;
  width: 8px;
  height: 60px;
}
.chat_input_banners::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(0deg, rgb(175, 200, 247) 0%, rgb(130, 177, 247) 100%);
}
.chat_input_banners__single{
  width: calc(100% - 20px);
  height: 135px;
  margin-bottom: 22px;
  margin-left: 20px;
}
.chat_input_banners_flex{
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
}
.chat_input_banners__single_label{
  .toggle_ui_label{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #222B45;
  }

}
.chat_input_banners__single_img{
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-right: 10px;
  height: 103px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  align-items: center;
  justify-content: center;
  transition: all 400ms;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 12px;
  &:hover{
    box-shadow: 4px 16px 32px rgba(0, 0, 0, 0.16);
  }
}

.btn_moderate{
  position: absolute;
  right: 0;
  top: -6px;
}

.chat_list_block{
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .chat_list_block_icon{
    display: block;
    width: 48px;
    height: 48px;
    path{
      fill:  #8F9BB3;
    }
  }
  span{
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #8F9BB3;
    margin-bottom: 10px;
    @media all and (max-width: 900px) {
      font-size: 16px;
    }
  }
  button{
    margin: 0;
    display: none;
    @media all and (max-width: 900px) {
      display: flex;
    }
  }
}

@media all and (max-width: 900px) {


  .chat_moderation{
    width: calc(100% - 60px);
    top: 350px;
    padding-right: 30px;
  }

  .chat_moderation_buttons{
    flex-wrap: wrap;
    width: 100%;
  }

  .button_secondary_moderate{
    margin: 0 0 0 15px;
  }
  .chat_input_banners{
    top: auto;
    bottom: 90px;
    left: 40vw;
    right: 0;
    height: 70%;
  }
}
@media screen and (orientation:landscape) and (max-device-width: 900px) {
    .chat_input_banners{
        top: auto;
        bottom: -200px;
        left: 50vw;
        right: 0;
        height: 70%;
      }
}
@media all and (max-width: 500px){
  .chat_input_banners{
    bottom: 0;
    width: 90%;
    margin-left: 5%;
    left: 0;
  }
}
@media all and (max-width: 415px) {
  .button_secondary_moderate{
    margin: 0 0 0 15px;
    padding: 0 0;
    width: 32px;
  }
  .chat_header_mobile_btn_moderate_text{
    display: none;
  }
  .chat_moderation{
    width: calc(100% - 60px);
    top: 100px;
    padding-right: 30px;
  }
  .chat_input_banners{
    bottom: 80px;
    top: auto;
  }
  .chat_input_icon_admin{
    max-width: calc(95% - 15px);
    margin-left: 15px;
}
  .chat_moderation_buttons_label {
    margin-right: 0;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
  }
}
