.cabinet{
    width: 58.33%;
    margin-bottom: 143px;
}
.cabinet_title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #222B45;
}
.cabinet_content{
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 0 40px;
}
.cabinet_content_nav_menu{
    min-height: 41px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #222B45;
}
.cabinet_content_nav_menu_option{
    cursor: pointer;
    transition: all 400ms;
    display: flex;
    align-items: center;
    height: 39px;
    margin-right: 30px;
    border-bottom: 2px solid transparent;
    & > svg{
        margin-right: 10px;
    }
    &:hover{
        color: #3366FF;
    }

}
.cabinet_content_nav_menu_option_selected{
    color: #3366FF;
    border-bottom: 2px solid #3366FF;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
@media all and (max-width: 768px) {
    .cabinet_content{
        padding: 0 30px;
    }
    .cabinet_title{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 34px;
        line-height: 51px;
    }
    .cabinet{
        width: 90%;
        margin-bottom: 113px;
    }
    .cabinet_content_nav_menu{
        padding-top: 20px;
        font-size: 16px;
        line-height: 24px;
    }
    .cabinet_content_nav_menu_option{
        height: 36px;
    }
}
@media all and (max-width: 415px) {
    .cabinet_title{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 42px;
    }
    .cabinet_content{
        padding: 0 15px;
    }
    .cabinet{
        width: 90%;
        margin-bottom: 90px;
    }
    .cabinet_content_nav_menu{
        padding-top: 20px;
    }
    .cabinet_content_nav_menu_option{
        margin-right: 20px;
    }
}