.chat_main{
    display: grid;
    height: calc(100vh - 146px);
    grid-template-rows: 72px calc(100% - 172px) 100px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
.chat_main_height{
    height: 100%;
}
.chat_message{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #222B45;
    padding-bottom: 10px;
    padding-right: 30px;
}
.chat_message > div{
    text-align: left;
}
.chat_message_text{
    background: #C7E2FF;
    border-radius: 8px;
    border-top-left-radius: 0;
    margin-top: 5px;
    padding: 10px 20px 10px 20px;
    width: fit-content;
}
.message_admin{
    background: #FFF1C2;
}
.message_personal{
    background: #B2FFD6;
}
.chat_list{
    /* calc(100% - 272px) */
    margin-left: 30px;
    margin-right: 15px;
    height: 100%;
    overflow: scroll;
    scroll-behavior: auto;
    scrollbar-width: 30px;
    position: relative;
}
.chat_list::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}
.chat_list::-webkit-scrollbar-button{
    width: 10px;
    height: 20px;
    background-color: transparent;
}
.chat_list::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg, #E4E9F2 0%, #EDF1F7 100%);
    border-radius: 4px;
    width: 8px;
    height: 60px;
}
.chat_list::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(0deg, rgb(175, 200, 247) 0%, rgb(130, 177, 247) 100%);
}
.chat_message_right_arrow{
    bottom: -4px;
    position: relative;
}
.chat_input_icon{
    display: grid;
    grid-template-columns: auto 38px 50px;
    max-width: 100%;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.chat_footer_input_and_send{
    height: 40px;
}
.chat_to_whom{
    margin-bottom: 5px;
    margin-left: 30px;
}
.chat_to_whom:first-child{
    text-align: left;
}
.label_block_chat{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #FF3D71;
    margin-left: 30px;
}
.chat_help{
    z-index: 4;
    overflow: scroll;
    width: auto;
    height: fit-content;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 20px 15px 30px 30px;
}
.chat_help_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & > div{
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #222B45;
        text-align: left;
    }
}
.chat_help_text{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #222B45;
}
.btn_primary_options {
    height: 32px;
    border-radius: 30px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 0;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 0 14px;
    margin: 0;
}
.href_chat{
    cursor: pointer;
    font-style: normal;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    text-decoration-line: underline;
    color: #3366FF;
    transition: all 400ms;
    &:hover{
      color: #3366FF;
    }
}
.product_chat{
    width: 100%;
    max-width: 290px;
    height: 124px;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.product_group_chat{
    margin-top: 5px;
    height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.product_group_text_chat{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    height: 42px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    white-space: normal;
}
.payment_input{
    height: 40px;
    min-width: 0;
    width: 100%;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width: 240px;
}
.payment_input_small{
    width: 104px;
}
.payment_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
.fon_payment{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment_window{
    z-index: 7;
    position: absolute;
    right: 15%;
    padding-left: 41px;
    padding-bottom: 40px;
    padding-top: 10px;
    background: #FFFFFF;
    padding-right: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.error_input{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #FF3D71;
    margin-bottom: 6px;
    height: 24px;
}
.input_error{
    border: 1px solid #FF3D71;
}
.payment_input_flex{
    display: flex;
    justify-content: space-between;
}
.payment_button{
    cursor: pointer;
    outline: none;
    transition: all 400ms;
    background: linear-gradient(360deg, #00e09580 0%, #51F0B0 100%);
    background-color: #00E096;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 30px;
    user-select: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin: auto;
    height: 40px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    &:hover{
        background-color: #009160;
    }
    &:active{
        background-color: #51F0B0;
    }
}
.payment_window_header{

}
.title_flex{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #222B45;
    margin-bottom: 30px;
}
.close_setting_icon{
    cursor: pointer;
    & > path{
        transition: all 400ms;
    }
    &:hover{
        & > path{
            fill: #3366FF;
        }
    }
}
.payment_window_flex{
    display: flex;
    justify-content: flex-end;
}
.payment_window_padding{
    padding-right: 34px;
}
aside.emoji-picker-react{
    height: 100% !important;
    width: 100% !important;
    z-index: 4;
}
.chat_header_mobile_buttons{
    width: 148px;
    height: auto;
    display: flex;
    justify-content: center;
}
.chat_header_mobile_btn{
    cursor: pointer;
    height: 24px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #222B45;
    padding: 0 10px;
    background: linear-gradient(0deg, #E4E9F2 0%, #EDF1F7 100%);
}
#mobile_btn_left{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
#mobile_btn_right{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.chat_header_mobile_btn_selected{
    color: #FFFFFF;
    background: linear-gradient(360deg, #00E096 0%, #51F0B0 100%);
}
.chat_banners_list_main{
    position: absolute;
    width: 100%;
    height: 428px;
    background-color: #FFFFFF;
    display: none;
}
.chat_header_mobile{
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  display: none;
}

.chat_input_send{
    border: 1px solid #C5CEE0;
    border-left: none;
    border-radius: 0 8px 8px 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_chat_send{
    cursor: pointer;
    transition: all 400ms;
    & > path{
        transition: all 400ms;
    }
    &:hover{
        & > path{
            fill: #3366FF;
        }
    }
}
.btn_chat_send:hover{
    fill: #3366FF;
    .btn_chat_send_child{
        fill: #3366FF;
    }
}
.chat_input_smile{
    border: 1px solid #C5CEE0;
    border-left: none;
    border-right: none;;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_chat_smile{
    cursor: pointer;
    transition: all 400ms;
    border-radius: 50%;
    & > path,circle{
        transition: all 400ms;
    }
    &:hover{
        & > path,circle{
            fill: #3366FF;
        }
    }
}

.chat_header_flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emoji_main{
    position: absolute;
    width: 300px;
    height: 200px;
    display: none;
}
.chat_header_top_info_and_buttons{
    display: flex;
    align-items: center;
    height: 71px;
    padding-left: 30px;
    padding-right: 15px;
}
@media screen and (orientation:landscape) and (max-width: 900px){
    .chat_header_flex{
        display: none;
    }
    .chat_header_top_info_and_buttons{
        display: flex;
        align-items: center;
        height: 43px;
        padding-left: 30px;
        padding-right: 15px;
    }
    .chat_header_mobile{
        display: flex;
    }
}


@media all and (max-width: 900px) {
    .chat_header_top_info_and_buttons{
        display: flex;
        align-items: center;
        height: 43px;
        padding-left: 30px;
        padding-right: 15px;
    }
    .chat_header_flex{
        display: none;
    }
    .chat_banners_list_main{
        display: block;
    }
    .chat_header_mobile{
        display: flex;
    }
    .payment_window{
        right: auto;
        left: 10%;
    }
    .chat_main{
        grid-template-rows: 45px calc(100% - 150px) 86px;
    }
    .chat_main_height{
        height: 100%;
    }
    .chat_help{
        width: calc(100% - 72px);

        padding: 20px 33px 30px 39px;
    }
    .chat_list{
        margin-left: 39px;
        margin-right: 39px;
    }
    .chat_message{
        padding-right: 52px;
    }
}
@media screen and (orientation:landscape) and (max-device-width: 900px) {
    .chat_banners_list_main{
        height: 250px;
    }
    .chat_main_height{
        height: 300px;
    }
}
@media all and (max-width: 415px) {
    .payment_window_padding{
        padding-right: 0;
    }
    .payment_window {

        left: 5%;
        right: 5%;
        padding-left: 25px;
        padding-bottom: 40px;
        padding-top: 10px;

        padding-right: 25px;

    }
    .product_chat{
        max-width: 269px;
        height: 111px;
    }
    .chat_help{
        width: calc(100% - 24px);
        padding: 20px 9px 30px 15px;
    }
    .chat_main{
        grid-template-rows: 44px calc(100% - 130px) 85px;
    }
    .chat_main_height{
        height: calc(100vh - 180px - 44px);
    }
    .chat_list{
        margin-left: 15px;
        margin-right: 15px;
    }
    .chat_to_whom{
        margin-left: 15px;
    }
    .chat_input_icon{
        max-width: calc(95% - 15px);
        margin-left: 15px;
    }
    .chat_message {
        padding-right: 34px;
    }
    .label_block_chat{
        margin-left: 10px;
    }
}
